.brand-section {
  margin-left: 3.5rem;
}

.brand-row {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  margin-top: 0.5rem;
}

.brand-card {
  position: relative;
  flex: 0 0 auto;
  width: 18rem;
}

.brand-image {
  width: 18rem;
  height: 31rem;
  object-fit: cover;
  display: block;
}
.brand-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: auto;
}
