.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--brun);
  gap: 0.5rem;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  justify-content: flex-start; /* venstrejustering */
  margin-left: 1rem;
  font-family: var(--font-body);
}
/* Forside */
.breadcrumbs a:first-child {
  color: var(--brun);
  text-decoration: none;
}

/* Alle andre links */
.breadcrumbs a:not(:first-child) {
  color: var(--brun);
  text-decoration: underline;
}
/* den der sepererer mellem hver tekst/crumb*/
.crumbSep {
  font-size: 1rem 1rem;
  color: var(--brun);
}
