.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* billed-container */
.hero-slider {
  position: absolute;
  inset: 0;
  z-index: 0; /* ligger bagerst */
}

/* selve billedet */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
